<nav class="menu">
    <div class="editor-name-container">
        <div class="container"><a href="#" class="editor-name">MFMScript</a></div>
    </div>
    <div class="navbar-container">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="#">File <i class='bx bxs-chevron-down arrow-icon'></i></a>
                <ul class="dropdown">
                    <li class="dp-item"><a href="#">Crear archivo</a></li>
                    <li class="dp-item"><a href="#">Abrir archivo</a></li>
                    <li class="dp-item"><a href="#">Guardar archivo</a></li>
                </ul>
            </li>
            <li class="navbar-item">
                <a href="#">Reportes <i class='bx bxs-chevron-down arrow-icon'></i></a>
                <ul class="dropdown">
                    <li class="dp-item"><a href="#">Errores</a></li>
                    <li class="dp-item"><a href="#">Generar AST</a></li>
                    <li class="dp-item"><a href="#">Tabla de simbolos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
