.menu{
    width: 100%;
    background: #ff5370;
    display: flex;
}

.editor-name-container{
    display: flex;
    align-items: center;
    background: #263544;
}

.editor-name-container .editor-name{
    font-size: 25px;
    font-weight: 600;
    margin: auto 25px;
}

.menu .editor-name,
.navbar-nav a{
    font-family: 'Poppins', 'Arial', sans-serif;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
}

.menu .editor-name{
    font-family: 'Quicksand';
    font-weight: 700;
}

.navbar-nav{
    position: relative;
    display: flex;
}

.navbar-nav li{
    list-style: none;
}

.navbar-nav a{
    font-weight: 400;
    padding: 20px 25px;
}

.navbar-nav .navbar-item:hover > a{
    background: #f2f2f2;
    color: #ff5370;
}

.navbar-nav .navbar-item:hover .dropdown{
    display: block;
}

.arrow-icon{
    transition: all .3s ease-in;
}


.navbar-nav .navbar-item:hover .arrow-icon{
    transform: rotate(180deg);
}

.dropdown{
    width: 180px;
    max-width: 180px;
    display: none;
    position: absolute;
    background: #f2f2f2;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .25);
    border-radius: 0px 0px 3px 3px;
}

.dropdown .dp-item a{
    display: block;
    color: #263544;
    font-size: 14px;
    font-weight: 400;
}

.dropdown .dp-item a:hover{
    background: #ff5370;
    color: #f2f2f2;
}

.navbar-nav i{
    margin-left: 5px;
}

.tabla{
    margin-top: 15px;
    margin-bottom: 55px;
}

.tabla p{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Poppins', 'Arial', sans-serif;
}

table{
    table-layout: auto;
    margin: 10px auto;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-family: 'Poppins', 'Arial', sans-serif;
}

thead tr{
    background-color: #1880bd;
}

td, th{
    padding: 10px 15px;
}

tr:nth-child(even){
    background: #bee0f3;
}
