<nav class="menu">
    <a href="#" class="editor-name">MFMScript</a>
    <div class="navbar-container">
        <ul class="navbar-nav">
            <li>
                <a href="#">File <i class='bx bxs-chevron-down'></i></a>
                <ul class="dropdown">
                    <li class="dp-item"><a href="#">Crear archivo</a></li>
                    <li class="dp-item"><a href="#">Abrir archivo</a></li>
                    <li class="dp-item"><a href="#">Guardar archivo</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
